@use '/src/sass/base/mixins.scss' as m;

.info {
    padding-top: 50px;
    &__title {
        margin-top: 60px;
    }
    &__wrapper {
        margin-top: 60px;
        row-gap: 35px;
    }
    &__img {
        margin: 0 auto;
    }
}
.map {
    margin-top: 60px;
    padding-bottom: 60px;
    &__wrapper {
        margin-top: 60px;
        height: 206px;
        iframe {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (min-width: 768px) {
    .info {
        &__img {
            max-inline-size: 600px;
        }
    }
    .map {
        &__wrapper {
            width: 663px;
            height: 400px;
            margin: 60px auto 0;
        }
    }
}
@media screen and (min-width: 1200px) {
    .info {
        &__wrapper {
            column-gap: 0;
        }
        &__img {
            max-inline-size: 100%;
            padding-right: 20px;
        }
    }
    .map {
        &__wrapper {
            height: 500px;
        }
    }
}
@media screen and (min-width: 1920px) {
    .info {
        padding-top: 40px;
        &__wrapper {
            margin-top: 60px;
        }
    }
    .map {
        margin-top: 100px;
        padding-bottom: 100px;
        &__wrapper {
            margin-top: 100px;
            width: 801px;
            height: 604px;
        }
    }
}
