@use '/src/sass/base/variables.scss' as v;

.activities {
    padding-top: 60px;
    &__wrapper {
        margin-top: 20px;
        row-gap: 40px;
    }
    &__img {
        width: 100%;
        margin-top: 40px;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    }
    &__text {
        margin-top: 20px;
        color: v.$dark;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        &_colored {
            color: v.$ceramic;
            font-weight: 500;
        }
    }
}

@media screen and (min-width: 768px) {
    .activities {
        padding: 60px 95px 0;
        &__wrapper {
            margin-top: 40px;
        }
        &__text {
            margin-block-start: 25px;
            font-size: 20px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .activities {
        padding: 60px 0 0;
        &__wrapper {
            margin-top: 80px;
        }
        &__img {
            margin-top: 60px;
            max-height: 250px;
            object-fit: cover;
        }
        &__col {
            padding: 0 10px;
        }
        &__text_fixed {
            padding-inline-end: 108px;
        }
    }
}

@media screen and (min-width: 1920px) {
    .activities {
        padding-top: 100px;
        &__img {
            max-height: 320px;
        }
        &__text {
            margin-block-start: 30px;
            &_fixed {
                padding-inline-end: 288px;
            }
        }
    }
}
