.catalog {
    padding-top: 50px;
    &__title {
        margin-top: 60px;
    }
    &__tabs {
        margin-top: 60px;
        padding: 13px 25px;
        border: 1px solid var(--Dark, #232323);
        display: flex;
        flex-wrap: wrap;
        gap: 13px 50px;
    }
    &__tab {
        position: relative;
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        border: 0;
        background: none;
        padding: 0;
        &_active::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #000;
            bottom: -2px;
            left: 0;
        }
    }
}

@media screen and (min-width: 768px) {
    .catalog {
        &__tabs {
            width: fit-content;
        }
    }
}
