@use '/src/sass/base/variables.scss' as v;

.header {
    &__top {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        width: 100px;
        height: 100px;
    }
    &__icons {
        display: flex;
        align-items: flex-start;
        gap: 15px;
        a {
            display: block;
            span {
                font-size: 20px;
                color: v.$dark;
            }
        }
    }
    &__nav {
        display: none;
    }
    &__menu {
        position: fixed;
        top: 0;
        left: -100vw;
        width: 100vw;
        height: 100vh;
        padding: 50px 10px;
        background-color: var(--Light, #fafafa);
        transition: transform 0.5s;
        z-index: 1;
        &_active {
            transform: translateX(100%);
        }
        &-close {
            width: 20px;
            height: 20px;
            span {
                display: block;
                width: 20px;
                height: 1px;
                background-color: var(--Dark);
                &:nth-child(1) {
                    transform: translateY(10px) rotate(45deg);
                }
                &:nth-child(2) {
                    transform: translateY(9px) rotate(-45deg);
                }
            }
        }
        &-nav {
            margin-top: 50px;
            padding-left: 14px;
            ul {
                display: flex;
                flex-direction: column;
                gap: 25px;
                padding: 0;
                list-style-type: none;
            }
        }
        &-link {
            color: var(--Dark, #232323);
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
        }
    }
}

.burger {
    display: flex;
    flex-direction: column;
    height: 23px;
    gap: 10px;
    padding-right: 35px;
    span {
        display: block;
        width: 20px;
        height: 0;
        border: 1px solid v.$dark;
    }
}

@media screen and (min-width: 768px) {
    .header {
        &__nav {
            display: block;
            margin-top: 20px;
            ul {
                display: flex;
                justify-content: center;
                gap: 30px;
                padding-left: 0;
                li {
                    list-style-type: none;
                }
            }
        }
        &__link {
            color: v.$dark;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
        }
        &__menu {
            display: none;
        }
    }
    .burger {
        visibility: hidden;
    }
}

@media screen and (min-width: 1920px) {
    .header {
        &__logo {
            width: 150px;
            height: 151px;
        }
        &__nav {
            margin-top: 36px;
            ul {
                gap: 60px;
            }
        }
    }
}
