@use '/src/sass/base/variables.scss' as v;

.header {
    display: flex;
    justify-content: space-between;
    &__logo {
        width: 100px;
        height: 100px;
    }
    &__icons {
        display: flex;
        align-items: flex-start;
        gap: 15px;
        a {
            display: block;
            span {
                font-size: 20px;
                color: v.$dark;
            }
        }
    }
}

.burger {
    display: flex;
    flex-direction: column;
    height: 23px;
    gap: 10px;
    padding-right: 35px;
    span {
        display: block;
        width: 20px;
        height: 0;
        border: 1px solid v.$dark;
    }
}
