@use '/src/sass/base/variables.scss' as v;

.touch {
    padding-top: 60px;
    &__wrapper {
        margin-top: 60px;
        position: relative;
    }
    &__img {
        display: none;
    }
    &__fieldset {
        padding: 0;
        margin: 0;
        border: none;
    }
    &__label {
        display: block;
        color: v.$dark;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        &:nth-child(2) {
            margin-top: 8px;
        }
    }
    &__input {
        width: 100%;
        height: 48px;
        padding: 10px 15px;
        border-radius: 2px;
        border: 1px solid #e2e1e5;
        background: #fff;
        color: var(--Dark, #232323);
        &:focus {
            border: none;
            outline: 1px solid var(--Dark, #232323);
        }
        &::placeholder {
            color: v.$ui-disabled;
            font-size: 14px;
        }
        &.just-validate-error-field {
            border: 1px solid var(--ui-error, #db0c35);
            outline: 1px solid var(--ui-error, #db0c35);
        }
    }
    &__textarea {
        width: 100%;
        height: 132px;
        padding: 10px 15px;
        border-radius: 2px;
        border: 1px solid #e2e1e5;
        background: #fff;
        color: var(--Dark, #232323);
        resize: none;
        &:focus {
            border: none;
            outline: 1px solid var(--Dark, #232323);
        }
        &::placeholder {
            color: v.$ui-disabled;
            font-size: 14px;
        }
        &.just-validate-error-field {
            border: 1px solid var(--ui-error, #db0c35);
            outline: 1px solid var(--ui-error, #db0c35);
        }
    }
    &__check-block {
        display: flex;
        align-items: center;
        margin-top: 20px;
        color: var(--Dark, #232323);
        a {
            color: #a22dc6;
            margin-left: 4px;
        }
    }
    &__checkbox {
        margin-right: 15px;
        width: 15px;
        height: 15px;
    }
    &__btn {
        margin-top: 20px;
    }
    &__img_positioned {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .touch {
        &__img_positioned {
            display: block;
            width: 85px;
            height: 85px;
            position: absolute;
            right: 0;
            bottom: 0;
        }
        &__wrapper {
            margin-top: 45px;
        }
        &__input {
            width: 300px;
        }
        &__textarea {
            width: 300px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .touch {
        &__wrapper {
            margin-top: 80px;
        }
        &__img {
            display: block;
            width: 550px;
            height: 342px;
            box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
            object-fit: cover;
        }
        &__input,
        &__textarea {
            &:hover {
                border: none;
                outline: 1px solid var(--Dark, #232323);
            }
        }
        &__col {
            padding-left: 20px;
        }
    }
}

@media screen and (min-width: 1920px) {
    .touch {
        padding-top: 100px;
        &__img {
            width: 573px;
            height: 356px;
        }
        &__col {
            padding-left: 150px;
        }
        &__img_positioned {
            right: 75px;
        }
        &__fieldset {
            display: flex;
            column-gap: 45px;
        }
    }
}
