.works {
    padding-top: 60px;
    padding-bottom: 100px; //remove
    &__swiper {
        margin-top: 40px;
    }
    .swiper-slide img {
        width: 100%;
    }
    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
}
