@use '/src/sass/base/mixins.scss' as m;
@use '/src/sass/base/variables.scss' as v;

.btn-defalt {
    @include m.button;
    font-size: 20px;
    width: 230px;
    height: 50px;
}

.btn-send {
    @include m.button;
    width: 220px;
    height: 40px;
    font-size: 16px;
    &:focus {
        border: 1px solid var(--Ceramic, #c69978);
        outline: 1px solid var(--Ceramic, #c69978);
    }
    &:disabled {
        color: var(--ui-disabled, #d2d2d2);
        border: 1px solid var(--ui-disabled, #d2d2d2);
        outline: 1px solid var(--ui-disabled, #d2d2d2);
    }
}

.btn-submit {
    @include m.button;
    width: 90px;
    height: 40px;
    color: var(--Light, #fafafa);
    border: 1px solid var(--Light, #fafafa);
    &:disabled {
        border: 1px solid var(--ui-disabled, #d2d2d2);
        outline: 1px solid var(--ui-disabled, #d2d2d2);
        color: var(--ui-disabled, #d2d2d2);
    }
}

.btn-read {
    @include m.button;
    width: 145px;
    height: 32px;
    color: var(--Dark, #232323);
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid var(--Dark, #232323);
    &:hover {
        color: var(--Ceramic, #c69978);
        border: 1px solid var(--Ceramic, #c69978);
        outline: 1px solid var(--Ceramic, #c69978);
    }
    &:active,
    &:focus {
        border: 1px solid var(--Ceramic, #c69978);
        outline: 1px solid var(--Ceramic, #c69978);
    }
}

@media screen and (min-width: 1200px) {
    .btn-defalt {
        &:hover {
            color: v.$light;
            background-color: v.$dark;
            border: none;
        }
        &:active {
            box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
            background-color: v.$ui-disabled;
            color: v.$dark;
            border: none;
        }
    }
    .btn-send {
        &:active {
            border: 1px solid var(--Ceramic, #c69978);
            outline: 1px solid var(--Ceramic, #c69978);
        }
        &:hover {
            color: var(--Ceramic, #c69978);
            border: 1px solid var(--Ceramic, #c69978);
            outline: 1px solid var(--Ceramic, #c69978);
        }
    }
}

@media screen and (min-width: 1920px) {
    .btn-defalt {
        width: 330px;
        height: 60px;
    }
}
