@use '/src/sass/base/mixins.scss' as m;

.title-h1-italic {
    @include m.title;
    font-style: italic;
    font-size: 24px;
    font-weight: 400;
}

@media screen and (min-width: 1920px) {
    .title-h1-italic {
        font-size: 32px;
    }
}
